/* variables */
:root {
  /* text */
  --font-size-base: 16px;
  /* colors */
  --bg-light: var(--bg-light-override, rgb(192,224,215));
  --text-accent: rgba(0,0,0,0.9);
}

/* layout */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* theme */
body {
  background-color: var(--bg-light);
}

.main-wrap {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 5%;
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: serif;
}

.main-wrap a {
  text-decoration: none;
  color: var(--text-accent);
}

.main-wrap a:hover {
  border-bottom: 1px dotted #000;
  color: #000;
}

.main-wrap .quote {
  width: 100%;
  padding: 2rem 0;
}

.main-wrap .quote h1 {
  font-size: clamp(2rem, 5.2vw, 4rem);
  font-weight: bold;
  font-style: italic;
  color: var(--text-light);
  margin: 0;
  padding: 0;
}

