/* variables */
:root {
  /* colors */
  --bg-light: var(--bg-light-override, rgb(192,224,215));
}

/* layout */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* theme */
body {
  background-color: var(--bg-light);
}

.main-wrap {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 5%;
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: serif;
}
